<!doctype html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Работники</title>

    <script src="../resources/libs/JQuery/jquery-3.5.1.min.js"></script>
    <script src="../resources/js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="../resources/libs/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    <link href="../resources/libs/bootstrap-4.5.0-dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="icon" href="../resources/media/images/favicon.ico">
    <link href="../resources/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../resources/css/bootstrap-buttons.css">
    <script src="../resources/js/admin-archived-workers.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin/edit-services">Услуги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/active-orders">Активные записи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/archive-orders">Архив</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/active-workers">Работники</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/admin/archived-workers">Архив работников</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-danger btn-danger my-2 my-sm-0" type="button" onclick="window.location.href = '/logout'">Выйти</button>
        </form>
    </div>
</nav>

<div class="row">
    <div class="col"></div>

    <div class="col-6">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Мастер</th>
                <th scope="col">Логин</th>
                <th scope="col">

                </th>
            </tr>
            </thead>
            <tbody id="table-body">
            <th:block th:each="barber : ${barbers}">
                <tr th:id="'tr_' + ${barber.id}" >
                    <td th:text="${barber.name}" class="name-val"></td>
                    <td th:text="${barber.userInfo.username}" class="username-val"></td>
                    <td class="buttons">
                        <button type="button" class="btn btn-success" th:onclick="activateBarber([[${barber.id}]])">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <div class="col"></div>
</div>


</body>