<!doctype html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Барбершоп</title>

    <script src="../resources/libs/JQuery/jquery-3.5.1.min.js"></script>
    <script src="../resources/js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="../resources/libs/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    <link href="../resources/libs/bootstrap-4.5.0-dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="icon" href="../resources/media/images/favicon.ico">
    <link href="../resources/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../resources/css/bootstrap-buttons.css">
</head>
<body>
    <div class="row">
        <div class="col"></div>

        <div class="col text-center">
            <div class="mt-5" style="font-size: 100px">403</div>
        </div>

        <div class="col"></div>
    </div>
</body>
</html>